h1, h2, h3, h4{
    color: blue;
    font-weight: bolder;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body{
    font-size: larger;
    background-color:darkgrey
}
body{
    width: 1000px;
    border: 20px;
    padding:50px;
    margin: 10px;
    height: auto;
}
span{
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
img{
    padding:30px;
    margin: 10px;
    float:left

}